{% extends 'FrontOfficeBundle:Default:fronttemplate.html.twig' %}

{% block title %}FrontOfficeBundle:DeplacementJour:list{% endblock %}

{% block body %}
{% if not deplacement.validation %}
<div id="create-deplacement-jour">
    <a href="{{ path('front_deplacement_jour_create', { 'id': deplacement.id }) }}">Créer un nouveau déplacement</a>
</div>
{% endif %}
<table>
    <thead>
        <tr>
            <th>Jour</th>
            <th>Nombre de kms</th>
            <th>Montant</th>
            <th>Date</th>
            <th>Créé</th>
            <th>Mis à jour</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for deplacementJour in deplacementJours %}
        <tr>
            <td>{{ deplacementJour.jour }}</a></td>
            <td>{{ deplacementJour.nbkm }}</td>
            <td>{{ deplacementJour.montant }}</td>
            <td>{% if deplacementJour.date %}{{ deplacementJour.date|date('Y-m-d') }}{% endif %}</td>
            <td>{% if deplacementJour.created %}{{ deplacementJour.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if deplacementJour.updated %}{{ deplacementJour.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                {% if not deplacement.validation %}
                <a href="{{ path('front_deplacement_jour_edit', { 'id': deplacementJour.id }) }}">Editer</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}