{% extends "::fronttemplate.html.twig" %}

{% block title %}FrontOfficeBundle:DeplacementJour:list{% endblock %}

{% block body %}
<a href="{{path('front_landing')}}">Accueil</a>
<table>
    <thead>
        <tr>
            <th>Jour</th>
            <th>NbKm</th>
            <th>Montant</th>
            <th>Date</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Validation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for deplacementJour in deplacementJours %}
        <tr>
            <td>{{ deplacementJour.jour }}</a></td>
            <td>{{ deplacementJour.nbkm }}</td>
            <td>{{ deplacementJour.montant }}</td>
            <td>{% if deplacementJour.date %}{{ deplacementJour.date|date('Y-m-d') }}{% endif %}</td>
            <td>{% if deplacementJour.created %}{{ deplacementJour.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if deplacementJour.updated %}{{ deplacementJour.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if deplacement.validation %}Yes{% else %}No{% endif %}</td>

            {% if not deplacement.validation %}
            <td>
                <a href="{{ path('front_deplacement_jour_edit', { 'deplacementId': deplacementJour.id }) }}">edit</a>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}