{% extends 'BackOfficeBundle:Default:backtemplate.html.twig' %}

{% block body %}
    <h1>Liste des sociétés</h1>

    <table id="indextables">
        <thead>
            <tr>
                <th>Societe</th>
                <th>Adresse</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                <td><a href="{{ path('societe_show', { 'id': societe.id }) }}">{{ societe.societe }}</a></td>
                <td>{{ societe.adresse }}</td>
                <td>{{ societe.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('societe_show', { 'id': societe.id }) }}">Détails</a>
                        </li>
                        <li>
                            <a href="{{ path('societe_edit', { 'id': societe.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('societe_new') }}">Nouvelle société</a>
        </li>
    </ul>
{% endblock %}
