{% extends 'BackOfficeBundle:Default:backtemplate.html.twig' %}

{% block body %}
    <h1>Détails de la société</h1>

    <table>
        <tbody>
            <tr>
                <th>Societe</th>
                <td>{{ societe.societe }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ societe.adresse }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ societe.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('societe_edit', { 'id': societe.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('societe_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
