{% extends 'FrontOfficeBundle:Default:fronttemplate.html.twig' %}

{% block title %}FrontOfficeBundle:Deplacement:list{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Annee</th>
            <th>Mois</th>
            <th>Datevalidation</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Validation</th>
            <th>Id</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for deplacement in deplacements %}
        <tr>
            <td>{{ deplacement.annee }}</a></td>
            <td>{{ deplacement.mois }}</td>
            <td>{% if deplacement.dateValidation %}{{ deplacement.dateValidation|date('Y-m-d') }}{% endif %}</td>
            <td>{% if deplacement.created %}{{ deplacement.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if deplacement.updated %}{{ deplacement.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if deplacement.validation %}Yes{% else %}No{% endif %}</td>
            <td>{{ deplacement.id }}</td>

            <td>
                <a href="{{ path('front_deplacement_jour_list', { 'id': deplacement.id }) }}">details</a>
            </td>
            <td>
                {% if not deplacement.validation %}
                <a href="{{ path('front_deplacement_edit', { 'id': deplacement.id }) }}">edit</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}