{% extends 'FrontOfficeBundle:Default:fronttemplate.html.twig' %}

{% block title %}FrontOfficeBundle:Deplacement:list{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Année</th>
            <th>Mois</th>
            <th>Date de validation</th>
            <th>Créé</th>
            <th>Mis à jour</th>
            <th>Validation</th>
            <th>Id</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for deplacement in deplacements %}
        <tr>
            <td>{{ deplacement.annee }}</a></td>
            <td>{{ deplacement.mois }}</td>
            <td>{% if deplacement.dateValidation %}{{ deplacement.dateValidation|date('Y-m-d') }}{% endif %}</td>
            <td>{% if deplacement.created %}{{ deplacement.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if deplacement.updated %}{{ deplacement.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if deplacement.validation %}Validé{% else %}Non validé{% endif %}</td>
            <td>{{ deplacement.id }}</td>

            <td class="buttons buttons-table">
                <a href="{{ path('front_deplacement_jour_list', { 'id': deplacement.id }) }}">Détails</a>
            </td>
            <td class="buttons buttons-table">
                {% if not deplacement.validation %}{#If the deplacement is not validated#}
                <a href="{{ path('front_deplacement_edit', { 'id': deplacement.id }) }}">Editer</a>{#Disply the edit
                link#}
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}